.castTitle {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}

.castList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.castItem {
  list-style: none;
  width: 200px;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 14%) 0px 1px 1px,
    rgb(0 0 0 / 20%) 0px 2px 1px;
  border-radius: 0px 0px 4px 4px;

  &:hover {
    transform: scale(1.05);
  }
}
.castActorImage {
  width: 200px;
}
.castActorInfo {
  text-align: center;
  margin-top: 10px;
}
.castActorName {
  font-size: 20px;
  font-weight: 700;
}
.castActorCharacter {
  margin-top: 10px;
}
